body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  
}

.content {
  height: 100vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5))
}
.text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 15px;
  transform: translate(-50%, -50%);
  background: gray;
  color: white;
  border-radius: 20px;
}
.title {
  font-size: 90px;
}
.slogan {
  font-size: 30px;
  padding-bottom: 10px;
}
.call {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 50px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}
.call:before,
.call:after {
  border-radius: 80px;
}

.call:before {
  background-image: linear-gradient(92.83deg, #22d3ee 0, #22d3ee 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.call:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.call:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, #22d3ee 0%, #22d3ee 100%);
}

.call:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.call:active:not(:disabled) {
  color: #ccc;
}

.call:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #22d3ee 0, #22d3ee 100%);
}

.call:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.call:disabled {
  cursor: default;
  opacity: .24;
}

.divy{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  background-color: rgba(10, 10, 2, 0.8)
}
.About {
  color: white;
  font-size: 50px;
  z-index: 99999;
}
.AboutText {
  color: white;
  font-size: 25px;
  z-index: 99999;
}
.AboutContainer {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5))
}
@media screen and (max-width: 850px) {
  .text-content{
    width: 90%;
  }
  .AboutContainer {
    width: 100%;
  }
  .call {
    padding: 19px 32px;
  }
}
